// .nav-menu {
//   display: flex;
//   padding: 1rem;
//   a {
//     text-decoration: none;
//     &:focus,
//     &:hover,
//     &:visited {
//       color: black;
//     }
//   }

//   .logo {
//     font-size: 1.5rem;
//   }

//   ul {
//     list-style-type: none;
//     margin: 0;
//     margin-left: auto;
//   }

//   li {
//     display: inline-block;
//     margin: 0 1rem;
//   }
// }

.nav-menu {
  display: flex;
  padding: 1rem;

  a {
    text-decoration: none;
    &:focus,
    &:hover,
    &:visited {
      background-color: black;
    }
  }

  .logo {
    text-decoration: none;
    font-size: 1.6rem;

    a {
      color: rgb(255, 208, 0);
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    margin-left: auto;
  }

  li {
    display: inline-block;
    margin: 0 1rem;
  }
}
